<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Pattern to output the caller's file name and line number -->
			<param name="ConversionPattern"
				value="%d [%F:%L] %-5p - %m%n" />
		</layout>
	</appender>

	<root>
		<level value="TRACE" />
		<appender-ref ref="Stdout" />		
	</root>
	
	<Loggers>
		<Logger name="org.restcomm.sbc.chain.impl" level="trace">
  		<AppenderRef ref="Console"/>
	</Logger>
	</Loggers>

	
</log4j:configuration>