# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Class files
*.class

# Log files
*.log

# Eclipse settings
.classpath
docs/.classpath

.settings
.project

# Package Files #
*.jar
*.war
*.ear
*.zip

# Exceptions Files #
!release/*.jar

# Class files
*.class

# CVS dirs
CVS/

# Target dirs
target/

# Build dirs

build/
build.properties





# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
